<!-- Modal -->
<div class="container">
    <div class="modal fade app-content-modal" tabindex="-1" role="dialog" id="appContent">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-header" style="background: #FFD77A">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                 <h3 style="text-align: center">Объявление</h3>
            </div>

                <div class="app-content" style="background: #F5F5F5">

                </div>

            <div class="modal-footer" style="background: #F5F5F5">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
            </div>
      </div>
    </div>
</div>