<!-- Modal -->
<div class="container">
    <div class="modal fade app-content-modal" tabindex="-1" role="dialog" id="appContent">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                 <h3>Объявление</h3>
            </div>

                <div class="app-content">

                </div>

            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
            </div>
      </div>
    </div>
</div>