<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/design/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/design/jquery.nav.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/design/slider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main-script.js') }}"></script>