{% include 'parts/head.html' %}
{% include 'parts/auth_user_menu.html' %}

<body>
<div class="content-container">
<div class="container">
    <div class="row">

        {% if not empty_apps %}

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse" style="background-color: steelblue;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
              </button>
            </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav nav-pills head-menu red">
                <li class="active"><a data-toggle="pill" href="#allApps">Все</a></li>
                <li><a data-toggle="pill" href="#approvedApps">Подтвержденные</a></li>
                <li><a data-toggle="pill" href="#notApprovedApps">Ожидают подтверждения</a></li>
                <li><a data-toggle="pill" href="#rejectedApps">Отклоненные</a></li>
            </ul>
        </div>

        <div class="tab-content">

            <div id="allApps" class="tab-pane fade in active">
            <p>Всего объявлений: <span class="badge" style="background: blue;">{{ applications_count }}</span></p>
                <table class="adminApplicationsTable table table-responsive table-striped table-bordered table-hover header-fixed">

                    <thead style="background: lightblue;">
                        <tr>
                            <td>№</td>
                            <th>Пользователь</th>
                            <th>Номер телефона</th>
                            <th>Тип объявления</th>
                            <th>Тип собственности</th>
                            <th>Статус</th>
                            <th>Дата создания</th>
                            <th>Выбрать</th>
                        </tr>
                    </thead>
                    {% for app in applications %}
                        <tr class="appRowInAdminMode">
                            <td style="display: none;" >{{ app.id }}</td>
                            <td data-toggle="modal" data-target=".app-content-modal">{{ loop.index }}</td>
                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.publisher }}</td>
                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.phone_number }}</td>

                            {% if app.type == 'rent' %}
                                <td data-toggle="modal" data-target=".app-content-modal">Аренда</td>
                            {% else %}
                                <td data-toggle="modal" data-target=".app-content-modal">Продажа</td>
                            {% endif %}

                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.property_type }}</td>

                            {% if app.status == 0 %}
                                <td data-toggle="modal" data-target=".app-content-modal">Не подтверждено</td>
                            {% elif app.status == 1 %}
                                <td data-toggle="modal" data-target=".app-content-modal">Подтверждено</td>
                            {% else %}
                                <td data-toggle="modal" data-target=".app-content-modal">Отклонено</td>
                            {% endif %}

                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.created_date }}</td>
                            <td><input type="checkbox"></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


        <div id="approvedApps" class="tab-pane fade">
                <div class="col-md-12">
                   <table class="adminApplicationsTable table table-responsive table-striped table-bordered table-hover header-fixed">
                    <thead style="background: lightblue;">
                        <tr>
                            <td>№</td>
                            <th>Пользователь</th>
                            <th>Номер телефона</th>
                            <th>Тип объявления</th>
                            <th>Тип собственности</th>
                            <th>Статус</th>
                            <th>Дата создания</th>
                            <th>Выбрать</th>
                        </tr>
                    </thead>
                    {% for app in applications %}
                        {% if app.status == 1 %}
                            <tr class="appRowInAdminMode">
                                <td style="display: none;" >{{ app.id }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ loop.index }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.publisher }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.phone_number }}</td>

                                {% if app.type == 'rent' %}
                                    <td data-toggle="modal" data-target=".app-content-modal">Аренда</td>
                                {% else %}
                                    <td data-toggle="modal" data-target=".app-content-modal">Продажа</td>
                                {% endif %}

                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.property_type }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">Подтверждено</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.created_date }}</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>


            <div id="notApprovedApps" class="tab-pane fade">
                <div class="col-md-12">
                <table class="adminApplicationsTable table table-responsive table-striped table-bordered table-hover header-fixed">
                    <thead style="background: lightblue;">
                        <tr>
                            <td>№</td>
                            <th>Пользователь</th>
                            <th>Номер телефона</th>
                            <th>Тип объявления</th>
                            <th>Тип собственности</th>
                            <th>Статус</th>
                            <th>Дата создания</th>
                            <th>Выбрать</th>
                        </tr>
                    </thead>
                    {% for app in applications %}
                        {% if app.status == 0 %}
                            <tr class="appRowInAdminMode">
                                <td style="display: none;" >{{ app.id }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ loop.index }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.publisher }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.phone_number }}</td>

                                {% if app.type == 'rent' %}
                                    <td data-toggle="modal" data-target=".app-content-modal">Аренда</td>
                                {% else %}
                                    <td data-toggle="modal" data-target=".app-content-modal">Продажа</td>
                                {% endif %}

                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.property_type }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">Не подтверждено</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.created_date }}</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                </div>
            </div>


            <div id="rejectedApps" class="tab-pane fade">
                <div class="col-md-12">
                <table class="adminApplicationsTable table table-responsive table-striped table-bordered table-hover header-fixed">
                    <thead style="background: lightblue;">
                        <tr>
                            <td>№</td>
                            <th>Пользователь</th>
                            <th>Номер телефона</th>
                            <th>Тип объявления</th>
                            <th>Тип собственности</th>
                            <th>Статус</th>
                            <th>Дата создания</th>
                            <th>Кол-во просмотров</th>
                            <th>Выбрать</th>
                        </tr>
                    </thead>
                    {% for app in applications %}
                        {% if app.status == 2 %}
                            <tr class="appRowInAdminMode">
                                <td style="display: none;" >{{ app.id }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ loop.index }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.publisher }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.phone_number }}</td>

                                {% if app.type == 'rent' %}
                                    <td data-toggle="modal" data-target=".app-content-modal">Аренда</td>
                                {% else %}
                                    <td data-toggle="modal" data-target=".app-content-modal">Продажа</td>
                                {% endif %}

                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.property_type }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">Отклонено</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.created_date }}</td>
                                <td data-toggle="modal" data-target=".app-content-modal">{{ app.view_count }}</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                </div>
            </div>
        <input type="text" id="viewed_user_id" hidden="hidden" value="{{ session.user_id }}">
        </div>

        </div><!--tab-content-->

    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <button onclick="changeApplicationStatus(1)" class="btn btn-block btn-success" id="approve-app--btn">Подтвердить</button>
            <button onclick="changeApplicationStatus(0)" class="btn btn-block btn-info" id="not-approve-app-btn">Не подтверждать</button>
            <button onclick="changeApplicationStatus(2)" class="btn btn-block btn-danger" id="reject-app-btn">Отклонить</button>
            <button class="btn btn-block btn-default" id="delete-app-btn">Удалить</button>
        </div>
    </div>

    {% else %}

    <div style="margin-top: 200px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-info">
                      <div class="panel-heading">Список объявлений пуст</div>
                      <div class="panel-body">На сайте нет объявлений.</div>
                    </div>
            </div>
        </div>
    </div>

    {% endif %}

    </div><!--rowdiv!-->
</div><!--container!-->
</div>
{% include 'parts/application_content.html' %}
{% include 'parts/footer.html' %}
{% include 'parts/scripts.html' %}

</body>

