{% include 'parts/head.html' %}
<body style="background: #FCFCFC;">
{% include 'parts/auth_user_menu.html' %}

<div class="content-container">
    <h3 class="heading text-center">Форма для объявления</h3>
<div class="container" style="background: #FCFCFC;">
    <div class="row">
      <form role="form" id="applicationForm">

          <div class="col-md-12">
              <div class="col-md-4 col-md-offset-4">
                 <div class="form-group">
                    <label for="applicationType">Аренда / продажа:</label>
                        <select class="form-control" id="applicationType" name="applicationType">
                            <option value="rent">Аренда</option>
                            <option value="sale">Продажа</option>
                        </select>
                </div>
                  <div class="form-group">
                    <label for="propertyType">Тип недвижимости:</label>
                    <select class="form-control" id="propertyType" name="propertyType">

                        {% for property_type in data['property_types'] %}
                            <option value="{{ property_type.id }}">{{ property_type.type }}</option>
                        {% endfor %}

                    </select>
                </div>
              </div>
          </div>

        <div class="col-md-12">
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="city">Город:</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Название города" required>
                </div>
                <div class="form-group">
                        <label for="region">Область:</label>
                            <select class="form-control" id="region" name="region">

                                {% for region in data['regions'] %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                {% endfor %}

                            </select>
                </div>
                <div class="form-group">
                        <label for="street_type">Ул. / пр-т / пер-к:</label>
                            <select class="form-control" id="street_type" name="street_type">

                                {% for address_type in data['address_types'] %}
                                    <option value="{{ address_type.id }}">{{ address_type.street_type }}</option>
                                {% endfor %}

                            </select>
                    </div>
                <div class="form-group">
                    <label for="street">Название ул. / пр. / пер.:</label>
                    <input type="text" class="form-control" id="street" name="street" placeholder="Введите название">
                </div>
                <div class="form-group">
                    <label for="house_number">Номер дома:</label>
                    <input type="text" class="form-control" id="house_number" name="house_number" placeholder="Введите номер дома">
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="total_square">Площадь общая, м<sup>2</sup>:</label>
                    <input type="number" min="1" class="form-control" name="total_square" id="total_square" required>
                </div>
                <div class="form-group">
                    <label for="live_square">Площадь жилая, м<sup>2</sup>:</label>
                    <input type="number" min="1" class="form-control" name="live_square" id="live_square" required>
                </div>
                <div class="form-group">
                    <label for="kitchen_square">Площадь кухни, м<sup>2</sup>:</label>
                    <input type="number" min="1" class="form-control" name="kitchen_square" id="kitchen_square" required>
                </div>
                <div class="form-group">
                    <label for="floor">Этаж:</label>
                    <input type="number" min="1" class="form-control" name="floor" id="floor" required>
                </div>
                <div class="form-group">
                    <label for="floors">Этажность:</label>
                    <input type="number" min="1" class="form-control" name="floors" id="floors" required>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="rooms_number">Кол-во комнат:</label>
                    <input type="number" min="1" max="100" class="form-control" name="rooms_number" id="rooms_number" required>
                </div>
                <div class="form-group">
                    <label for="year">Год постройки:</label>
                    <input type="number" min="1800" max="2016" class="form-control" name="year" id="year" required>
                </div>
                <div class="form-group">
                    <label for="price">Цена, $:</label>
                    <input type="text" class="form-control" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="description">Доп. сведения:</label>
                    <textarea class="form-control" name="description" id="description" style="height: 113px;resize: none;"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            <section id="featuresSection">
                <h3>Удобства:</h3>

                {% for feature in data['features'] %}
                    <label>
                        <input name="feature" class="checkbox-inline" type="checkbox" value="{{ feature.id }}">{{ feature.name }}
                    </label>
                {% endfor %}

            </section>

            <button id="sendApplicationBtn" type="button" class="btn btn-success btn-block">Разместить объявление</button>
            <button type="reset" class="btn btn-info btn-block" style="margin-bottom: 30px;">Очистить форму</button>
            </div>
        </div>
       <input hidden="hidden" type="text" name="user_id" value="{{ session.user_id }}">
      </form>
    </div>
</div>
</div>

{% include 'parts/footer.html' %}
{% include 'parts/scripts.html' %}
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/application_form.js') }}"></script>