
{% include 'parts/head.html' %}

<body>

 {% include 'parts/login.html' %}

 {% include 'parts/header.html' %}

<section id="home">

    {% include 'parts/slider.html' %}
  
  <div class="container hero-text2">
  <h3>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat<br/> fabulas complectitur deterruisset at pro</h3>
  </div>
</section>
<section id="services" class="page-section colord">
  <div class="container">
    <div class="row"> 
      <!-- item -->
      <div class="col-md-3 text-center"> <i class="circle"><img src="{{ url_for('static', filename='img/5.png') }}" alt="" /></i>
        <h3>New Projects</h3>
        <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
      </div>
      <!-- end: --> 
      
      <!-- item -->
      <div class="col-md-3 text-center"><i class="circle"> <img src="{{ url_for('static', filename='img/1.png') }}" alt="" /></i>
        <h3>Plots for Sale</h3>
        <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
      </div>
      <!-- end: --> 
      
      <!-- item -->
      <div class="col-md-3 text-center"><i class="circle"> <img src="{{ url_for('static', filename='img/2.png') }}" alt="" /></i>
        <h3>Luxury Villas</h3>
        <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit impe.</p>
      </div>
      <!-- end: --> 
      
      <!-- item -->
      <div class="col-md-3 text-center"><i class="circle"> <img src="{{ url_for('static', filename='img/3.png') }}" alt="" /></i>
        <h3>Rent a House</h3>
        <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet conempus.</p>
      </div>
      <!-- end:--> 
    </div>
  </div>
  <!--/.container--> 
</section>
<section id="aboutUs">
  <div class="container">
    <div class="heading text-center"> 
      <!-- Heading -->
      <h2>About Us</h2>
      <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
    </div>
    <div class="row feature design">
      <div class="area1 columns right">
        <h3>Clean and Modern Design.</h3>
        <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et jority have suffered alteration. </p>
        <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>
          <a href="#" class="btn">Request Quote</a>
      </div>
    </div>
    <div class="row dataTxt">	
            <div class="col-md-4 col-sm-6">
                <h4>What We Do?</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>

                <br>
            </div>

            <div class="col-md-4 col-sm-6">

                <h4>Why Choose Us?</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                <ul class="listArrow">
                    <li>Lorem ipsum dolor consectetursit amet, consectet</li>
                    <li>Has molestie percipit an. Falli volumus efficiantur</li>
                    <li>Falli volumus efficiantur sed id, ad vel noster</li>
                    <li>Lorem ipsum dolor consectetursit amet, consectetur</li>
                    <li>Ius ut etiam vivendo, graeci iudicabit constitutoa</li>
                </ul>
                <!-- Accordion starts -->
                </div>

            <div class="col-md-4 col-sm-6">
                 <img src="{{ url_for('static', filename='img/img.jpg') }}" alt="" width="100%">
            </div>

        </div>
  </div>
</section> 


<section id="signUp" class="page-section colord">
  <div class="container">
    <div class="row">
        {% if not session.login %}
            <div class="row">
                <div class="heading text-center"><h2>Регистрация</h2></div>
            </div>
            {% include 'parts/sign-up.html' %}
        {% endif %}
    </div>
      </div>
  <!--/.container-->
</section>

{% include 'parts/popup.html' %}
{% include 'parts/footer.html' %}
{% include 'parts/scripts.html' %}

</body>
</html>
