{% include 'parts/head.html' %}
{% include 'parts/auth_user_menu.html' %}

<body>
<div class="content-container">
<div class="container">
    <div class="row">

            {% if not empty_apps %}

                <h3 class="heading text-center">Список моих объявлений</h3>
                Всего объявлений подано: <span class="badge" style="background: blue;">{{ applications_count }}</span>
                <table class="userApplicationsTable table table-responsive table-striped table-bordered table-hover header-fixed">
                    <thead style="background: lightblue;">
                        <tr>
                            <td>№</td>
                            <th>Тип объявления</th>
                            <th>Тип собственности</th>
                            <th>Статус</th>
                            <th>Дата создания</th>
                            <th>Кол-во просмотров</th>
                        </tr>
                    </thead>
                    {% for app in applications %}
                        <tr class="appRowInUserMode">
                            <td style="display: none;" >{{ app.id }}</td>
                            <td data-toggle="modal" data-target=".app-content-modal">{{ loop.index }}</td>

                            {% if app.type == 'rent' %}
                                <td data-toggle="modal" data-target=".app-content-modal">Аренда</td>
                            {% else %}
                                <td data-toggle="modal" data-target=".app-content-modal">Продажа</td>
                            {% endif %}

                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.property_type }}</td>

                            {% if app.status == 0 %}
                                <td data-toggle="modal" data-target=".app-content-modal">Не подтверждено</td>
                            {% elif app.status == 1 %}
                                <td data-toggle="modal" data-target=".app-content-modal">Подтверждено</td>
                            {% else %}
                                <td data-toggle="modal" data-target=".app-content-modal">Отклонено</td>
                            {% endif %}

                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.created_date }}</td>
                            <td data-toggle="modal" data-target=".app-content-modal">{{ app.view_count }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="text" id="viewed_user_id" hidden="true" value="{{ session.user_id }}">
            {% else %}

                <div style="margin-top: 200px;">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                                <div class="panel panel-info">
                                  <div class="panel-heading">Список объявлений пуст</div>
                                  <div class="panel-body">Вы еще не размещали объявлений.</div>
                                </div>
                        </div>
                    </div>
                </div>

            {% endif %}

    </div><!--rowdiv!-->
</div><!--container!-->
</div>
{% include 'parts/application_content.html' %}
{% include 'parts/footer.html' %}
{% include 'parts/scripts.html' %}

</body>

