{% include 'parts/head.html' %}

<body>

{% include 'parts/auth_user_menu.html' %}

<section class="margin-top-from-nav" id="users">
    <h3 class="heading text-center">Список зарегистрированнных пользователей</h3>
    <div>
    <table id="usersTable" class="table table-responsive table-striped table-bordered table-hover header-fixed">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Номер телефона</th>
                <th>Дата рождения</th>
                <th>Режим доступа</th>
                <th>Удалить</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr id="userEditRow">
                <td data-toggle="modal" data-target=".bs-example-modal-lg">{{ user['login'] }}</td>
                <td data-toggle="modal" data-target=".bs-example-modal-lg">{{ user['firstname'] }}</td>
                <td data-toggle="modal" data-target=".bs-example-modal-lg">{{ user['lastname'] }}</td>
                <td data-toggle="modal" data-target=".bs-example-modal-lg">{{ user['email'] }}</td>
                <td data-toggle="modal" data-target=".bs-example-modal-lg">{{ user['phone_number'] }}</td>
                <td data-toggle="modal" data-target=".bs-example-modal-lg">{{ user['birthday'] }}
                <td data-toggle="modal" data-target=".bs-example-modal-lg" style="display: none;" >{{ user['id'] }}</td>
                {% if user['role'] == 1 %}
                    <td>Пользователь</td>
                {% else %}
                    <td>Администратор</td>
                {% endif %}
                <td><input type="checkbox"></td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="col-md-4 col-md-offset-4">
    <button id="deleteUsersBtn" class="btn btn-primary btn-block" style="margin-bottom: 30px;">Удалить</button>
</div>
</section>
{% include 'parts/popup.html' %}
{% include 'parts/edit_user.html' %}
{% include 'parts/footer.html' %}
{% include 'parts/scripts.html' %}
</body>
</html>